<!doctype html>
<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/basicLayout.css" />
  <link href="https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700" rel="stylesheet" type="text/css">
  <title>Final Project AGS</title>

</head>

<body>
  <div class="container-fluid">
    <header>
      <div class="row">
        <div class="col-1 logo">
          <a href="appList.html"><img src="images/cummins-logo-white.png" /></a>
        </div>
        <div class="col-9">
          <div>
            <input type="text" placeholder="Search..">
          </div>
        </div>
        <div class="col-1 logo">
        </div>
        <div class="col-1 logo ">
            <a href="index.html"><img src="images/images.png" class="profileImage" title="Logout" /></a>
        </div>
    </div>

    </header>
  </div>

    <main id="serviceMain">

      <h1 class="pagetitle">Servie  Dashboard</h1>
      <!-- <div class="alert alert-danger alert-dismissable" id="alertRed">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          Email sent to technician David Walls (Emp ID: 47401)
      </div> -->
      <div class="card" style="height: 400px; width:300px;"  v-for="p in productList">

          <div class="card-body">
            <h4 class="card-title">{{p.productName}}</h4>
            <br/>

                <h5 class="card-subtitle mb-2 text-muted">Product ID: {{p.productID}}</h5>
                <h5 class="card-subtitle mb-2 text-muted">Model Number: {{p.modelNumber}}</h5>
                <h5 class="card-subtitle mb-2 text-muted">Expected downtime (hours): {{p.expectedDowntimeCurrent}}</h5>
                <h5 class="card-subtitle mb-2 text-muted">Likelihood Of Failure: {{p.likelihoodOfFailureInFuture}}%</h5>
                <h5 class="card-subtitle mb-2 text-muted">Current Status: <strong class="increasedSize">{{p.productStatus}}</strong></h5>
            <span v-if="p.criticalityOfIssue === 3">
                <button id="buttonRed" class="btn btn-primary clientbutton"  data-toggle="modal" data-target="#myModalRed" @click="disableRedButton()" role="button">Request assistance</button>
                <div>
                  <div id="myModalRed" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Email Sent!</h4>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                          <p>
                              Email with details sent to technician David Walls (Emp ID: 47401)
                          </p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary clientbutton" data-dismiss="modal">Close</button>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
            </span>
            <span v-if="p.criticalityOfIssue === 2">
                <button id="buttonYellow" class="btn btn-primary clientbutton" data-toggle="modal" data-target="#myModalYellow" @click="disableYellowButton()" role="button">Part replacement needed</button>
                <div>
                  <div id="myModalYellow" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Part Order Notification Sent!</h4>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                          <p>
                              Request for order and delivery of engine filter (#Filt87551) has been sent to the customer and distributor!
                          </p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary clientbutton" data-dismiss="modal">Close</button>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
            </span>
            <span v-if="p.criticalityOfIssue === 1">
                <button id="buttonGreen" class="btn btn-primary clientbutton" data-toggle="modal" data-target="#myModalGreen" @click="disableGreenButton()" role="button">Automated fix status</button>
                <div>
                  <div id="myModalGreen" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Heart Beat Status</h4>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                          <p>Improvement in heartbeat by 60% after automated fix deployed on:</p>
                          <table class="table table-hover">
                            <thead>
                              <th>
                                Date
                              </th>
                              <th>
                                Time
                              </th>
                            </thead>
                            <tbody>
                              <tr>
                              <td>
                                 2018-12-12
                              </td>
                              <td>
                                  06:53 (GMT-5)
                              </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary clientbutton" data-dismiss="modal">Close</button>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
            </span>
              <span class="badgeSquare">Adjusted Life Expectancy in days:<p> <strong class="increasedSize">{{p.adjustedLifeExpectancy}}</strong></p></span>
              <div>
                <button class="btn btn-primary clientbutton" data-toggle="modal" data-target="#myModal3" role="button"  @click="getProductInformationFromId(p.productNum)">Last Action</button>
                <button id="button" class="btn btn-primary clientbutton" @click="gotoWebsiteNextSensors()" role="button">View Historic Sensor Data</button>
                <div id="myModal3" class="modal fade" role="dialog">
                  <div class="modal-dialog modal-lg">
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Product ID: {{singleProduct.productID}}</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <div class="modal-body">
                        <table class="table table-hover">
                          <thead>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Last Service Date</td>
                              <td>{{singleProduct.lastServiceDate}}</td>
                            </tr>
                            <tr>
                              <td>Cause Of Last Failure</td>
                              <td>{{singleProduct.causeOfLastFailure}}</td>
                            </tr>
                            <tr>
                              <td>Resolution of Last Failure</td>
                              <td>{{singleProduct.descriptionOfResolutionForLastFailure}}</td>
                            </tr>
                            <tr>
                              <td>Downtime from Last Failure (hours)</td>
                              <td>{{singleProduct.downtimeInHoursForLastFailure}}</td>
                            </tr>
                            <tr>
                              <td>Product Status</td>
                              <td>{{singleProduct.productStatus}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary clientbutton" data-dismiss="modal">Close</button>
                      </div>
                    </div>

                  </div>
                </div>

                    <!-- <div class="content">
                      <h5 class="card-subtitle mb-2 text-muted">Last Service Date: {{p.lastServiceDate}}</h5>
                      <h5 class="card-subtitle mb-2 text-muted">Cause Of Last Failure: {{p.causeOfLastFailure}}</h5>
                      <h5 class="card-subtitle mb-2 text-muted">Resolution of Last Failure: {{p.descriptionOfResolutionForLastFailure}}</h5>
                      <h5 class="card-subtitle mb-2 text-muted">Downtime from Last Failure (hours): {{p.downtimeInHoursForLastFailure}}</h5>
                      <p>
                        <button id="button" class="btn btn-primary clientbutton" @click="gotoWebsiteNextSensors()" role="button">View Historic Sensor Data</button>







                      </p>
                    </div> -->
              </div>

          </div>

        </div>
    </main>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="js/serviceDashboard.app.js"></script>
  <script>
  var coll = document.getElementsByClassName("collapsible");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
  </script>

</body>

</html>
